
app/linux/flutter/generated_plugin_registrant.cc
app/linux/flutter/generated_plugin_registrant.h
app/linux/flutter/generated_plugins.cmake
app/macos/Flutter/GeneratedPluginRegistrant.swift
app/windows/flutter/generated_plugin_registrant.cc
app/windows/flutter/generated_plugin_registrant.h
app/windows/flutter/generated_plugins.cmake
app/windows/flutter/generated_plugins.cmake
app/windows/flutter/generated_plugin_registrant.h
app/windows/flutter/generated_plugin_registrant.cc
app/macos/Flutter/GeneratedPluginRegistrant.swift
app/linux/flutter/generated_plugins.cmake
app/linux/flutter/generated_plugin_registrant.h
app/linux/flutter/generated_plugin_registrant.cc
presentation/.flutter-plugins
presentation/.flutter-plugins-dependencies
/app/android/app/build
/data/build
app/firepit-log.txt
