<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="preferExternal">
    
    <uses-permission android:name="android.permission.INTERNET"/>   <!-- http request -->

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/> <!-- 알림: 런타임 확인 필요 -->
    <uses-permission android:name="android.permission.VIBRATE" />   <!-- 알림: 알림 진동 권한 -->

    <!-- FCM 설정 - 장치가 재부팅될 때를 알 수 있도록 권한 추가-->
    <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/> -->

    <!-- 구글 플레이 스토어에 Bluetooth LE를 사용한다고 알림 -->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>        <!-- 출석체크: 근처 블루투스 장치 검색 및 페어링 -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>         <!-- 출석체크: 근처 블루투스 장치 검색 및 페어링 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>   <!-- 출석체크: 정확한 위치 권한 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>             
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>

    <!-- 앱링크 처리 -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="mailto" />
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="steam" />
        </intent>
    </queries>
    
    <application
        android:label="${applicationLabel}"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
           android:name="firebase_messaging_auto_init_enabled"
           android:value="false" />
        <meta-data
           android:name="firebase_analytics_collection_enabled"
           android:value="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
